.container {
text-align: center;
padding: 2rem;
}
.btn{
  background-color: rgb(163, 215, 224);
  margin: 1rem;
  width: 6rem;
  height: 4rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 20px;
}
.btn:hover{
  background-color: rgb(189, 245, 224);
}